:root {
  --primario: #1073BA;
  --secundario: #00DA55;
  --gris: #3B3B3B;
  --blanco: #FFFFFF;
  --negro: #1F1E1E;
  --grisClaro: #e1e1e1;

  --separacion: 5rem;

  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif;
}

html {
  font-size: 62.5%; /*Esto hace que 1 rem sean 10px*/
  box-sizing: border-box;
  cursor: crosshair;
  scrollbar-width: thin; 
  scrollbar-color: #1073BA #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--fuentePrincipal);
  line-height: 1.5;
}

/* Globales */

.contenedor {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion) / 2) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size:  2.8rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Utilidades */
.text-center {
  text-align: center;
}

/* Degradado verde */

.degradado-verde {
  color: transparent;
  background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Header */
.header {
  background-color: var(--negro);
  padding: calc(var(--separacion) * 1)  0;
  color: var(--blanco);
}

.texto-header {
  text-align: center;
  padding-top: var(--separacion);
}

.texto-header p {
  margin: 0;
  line-height: 1;
}

.tagline-producto {
  font-size: 2rem;
  font-weight: 900;
}

.nombre-producto {
  font-size: 5rem;
  margin: 0;
}

.precio-producto {
  padding: 1rem 0;
}

.precio-producto span {
  font-size: 4rem;
  font-weight: 900;
}

.imagen-header img {
  width: 100%;
}

@media (min-width: 768px) {
  .contenido-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .texto-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0;
  }

  .nombre-producto {
    font-size: 7rem;
    line-height: 1;
  }

  .texto-header p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1080px) {
  .nombre-producto {
    font-size: 10rem;
  }

  .tagline-producto {
    font-size: 3rem;
  }

  .texto-header p {
    font-size: 1.6rem;
  }
}

/* Caracteriticas */

.caracteristicas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--separacion);
  padding: calc(var(--separacion) * 2) 0;
}

.icono {
  width: var(--separacion);
}

.caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.caracteristica p, .caracteristica h3 {
  text-align: center;
}

.caracteristica h3 {
  color: var(--primario);
}

@media (min-width: 768px) {
  .caracteristicas {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Sobre producto */

.sobre-producto {
  height: 70vh;
  width: 100%;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column-reverse;
  color: var(--blanco);
}

.notavif.notwebp .sobre-producto {
  background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.jpg");
}

.webp .sobre-producto {
  background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.webp");
}

.avif .sobre-producto{
  background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.avif");
}

.texto-sobre-producto {
  flex: 0.4;
  padding: calc(var(--separacion) / 2);
  text-align: center; 
}

.texto-sobre-producto h3 {
  font-weight: 400;
}

.texto-sobre-producto h3 span { 
  font-weight: 900;
}

@media (max-width: 389px) {
  .sobre-producto {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .sobre-producto {
    height: 60vh;
    max-height: 40rem;
    background-position: right 30%;
  }

  .notavif.notwebp .sobre-producto {
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.jpg");
  }
  
  .webp .sobre-producto {
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.webp");
  }
  
  .avif .sobre-producto{
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url("../img/imagen-mujer.avif");
  }

  .sobre-producto .contenedor {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  } 

  .texto-sobre-producto {
    flex: 0.45;
    padding: var(--separacion) 0;
    text-align: left;
  }
}

/* Productos */

.productos {
  margin: 0 auto;
}

.productos h2 {
  text-align: center;
  font-size: 7rem;
}

.lista-productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: calc(var(--separacion) / 2);
}

.producto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3rem;
  background-color: var(--grisClaro);
  border-radius: 15px;
  transition: transform ease 0.5s;
}

.producto:hover {
  transform: scale(1.07) rotate(3deg);
}

.producto:nth-child(3) {
  background-color: var(--primario);
  color: var(--blanco);
}

.texto-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  font-size: 2.5rem;
}

.texto-producto h3 {
  font-size: 3rem;
}

.imagen-producto {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .lista-productos {
    padding: 0 ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 15rem);
  }

  .producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    padding: 2rem;
    background-color: var(--grisClaro);
    color: var(--primario);
    border-radius: 15px;    
  }

  .producto:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: var(--primario);
    color: var(--blanco);
  }

  .texto-producto {
    max-height: 100%;
  }

  .imagen-producto {
    height: 100%;
    width: auto;
  }

  .texto-producto {
    font-size: 1.8rem;
  }
  .texto-producto h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1080px) {
  .texto-producto {
    font-size: 2.2rem;
  }
  .texto-producto h3 {
    font-size: 3rem;
  }
}

/* Formulario */
.newsletter {
  margin: var(--separacion) 0 0 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%, 51rem;
}

.notavif.notwebp .newsletter {
  background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url("../img/newsletter.jpg");
}

.webp .newsletter {
  background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url("../img/newsletter.webp");
}

.avif .newsletter {
  background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url("../img/newsletter.avif");
}

@media (min-width: 768px) {
  .newsletter {
    background-position: center, -17rem -12rem;
    background-size: 100%, 100rem;
  }
  .notavif.notwebp .newsletter {
    background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url("../img/newsletter.jpg");
  }
  
  .webp .newsletter {
    background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url("../img/newsletter.webp");
  }
  
  .avif .newsletter {
    background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url("../img/newsletter.avif");
  }

}

@media (min-width: 2200px) {
  .newsletter {
    background-size: 100%, 200rem;
    background-position: center, 0% -30rem;
  }
}

.contenido-newsletter {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  gap: var(--separacion);
}

@media (min-width: 768px) {
  .contenido-newsletter {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-newsletter {
  grid-row: 2 / 3;
}

@media (min-width: 768px) {
  .texto-newsletter {
    grid-row: unset;
    grid-column: 2 / 3;
  }
}

@media (min-width: 768px) {
  .texto-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.formulario input[type="text"] {
  width: 100%;
  padding: 1rem;

}

.formulario input[type="submit"] {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--primario);
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  border: none;
}

/* Footer */

.footer p {
  font-family: var(--fuentePrincipal);
  color: var(--primario);
  font-weight: 900;
  font-size: 2rem;
  margin: calc(var(--separacion) / 2) auto;
  text-transform: uppercase;
  text-align: center;
}